html{
background-color: rgb(40, 40, 40);
font-family: 'Heebo', sans-serif;
}

header{
  width: 95vw;
  height: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
hr{
  margin-top: -10px;
  background-color: rgb(255, 219, 77);
  height: 5px;
  width: 200px;
  border: none;
  opacity: 0;
  transition: 2s;
}

.homeLogo{
  background-image: url("./public/homeLogo_.png");
  background-size: cover;
  margin-top: 20px;
  margin-left: 20px;
  height: 50px;
  width: 50px;
  z-index: 4;
  cursor: pointer;
}
ul{
  list-style-type: none;
  color: white;
  display: flex;
  justify-content: space-around;
  width: 500px;
}
li{
  display: inline;
  font-size: 30px;
  z-index: 4;
}

a{
  color: rgb(200, 200, 200);
  text-decoration: none;
  transition: 0.3s;
}
a:hover{
  color: rgb(255, 219, 77);
}
#proj1{
  margin-left: 50px;
}
#proj2{
  margin-right: 50px;
}
#proj3{
  margin-left: 50px;
}
#proj4{
  margin-right: 50px;
}
.projImg1{
  border-radius: 5px;
  background-image: url("./public/project1.png");
  background-size: cover;
  height: 225px;
  width: 375px;
}
.projImg2{
  border-radius: 5px;
  background-image: url("./public/project2.png");
  background-size: cover;
  height: 225px;
  width: 375px;
}
.projImg3{
  border-radius: 5px;
  background-image: url("./public/project3.png");
  background-size: cover;
  height: 225px;
  width: 375px;
}
.projImg4{
  border-radius: 5px;
  background-image: url("./public/project4.png");
  background-size: cover;
  height: 225px;
  width: 375px;
}
.projShade{
  border-radius: 5px;
  position:relative;
  top: 100px;
  background-color: rgba(0, 0, 0, 0.6);
  height: 50px;
  width: 250px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.aboutNav{
  height: 0vh;
  width: 0vw;
  background: rgba(0,0,0,0.3);
  transition: 0.5s;
  z-index: 0;
  display: flex;
  position: absolute;
  top: 50vh;
  left: 50vw;
  border-radius: 10px;
  justify-content: center;
  align-items: center;
}
.contNav{
  height: 0vh;
  width: 0vw;
  background: rgba(0,0,0,0.3);
  transition: 0.5s;
  z-index: 0;
  display: flex;
  position: absolute;
  top: 50vh;
  left: 50vw;
  border-radius: 10px;
  justify-content: center;
  align-items: center;
}
.projNav{
  height: 0vh;
  width: 0vw;
  background: rgba(0,0,0,0.3);
  transition: 0.5s;
  z-index: 0;
  display: flex;
  position: absolute;
  top: 50vh;
  left: 50vw;
  border-radius: 10px;
  justify-content: center;
  align-items: center;
}

.insideAbout{
  color: rgb(200, 200, 200);
  display: none;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.insideCont{
  background-image: url("./public/envelope.jpg");
  background-size: cover;
  color: rgb(50,50,50);
  display: none;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  height: 60vh;
  width: 50vw;
  border-radius: 20px
}
.insideProj{
  display: none;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.profilePic{
  background-size: cover;
  background-image: url("./public/profilePic.jpg");
  height: 300px;
  width: 300px;
  border-radius: 100%;
  margin-top: -20px;
}
h5{
  width: 500px;
  font-size: 16px;
  text-align: justify;
  margin-top: -1px;
}
h3{
  height: 30px;
  width: 150px;
  background-color: rgba(255, 140, 26, 0.4);
  margin-top: 1px;
  border-radius: 5px;
  border: rgba(200, 200, 200, 1) solid 2px;
  padding-left: 10px;
}
p{
  border: rgba(200, 200, 200, 1) solid 2px;
  border-radius: 5px;
  margin-top: -20px;
  font-size: 13px;
  height: 70px;
  width: 375px;
  padding-left: 10px;
  background-color: rgba(0,125,255,0.25);
}

.projectsRows1{
  margin-top: 50px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 1150px;
  justify-content: space-between;
}
.projectsRow2{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 1150px;
  justify-content: space-between;
}

#main {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transition: margin-left .5s;
  padding: 20px;
  margin-left: 0;
  position: relative;
}
img{
  height: 150px;
  width: 250px;
}
/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}


.first{
  height: 98vh;
  width: 99vw;
  background-color: rgb(50, 50, 60);
  display: flex;
  justify-content: center;
}

.menuContainer{
  height: 50px;
  width: 150px;
  position: absolute;
  left: 20px;
  top: 10px;
  z-index: 4;
}
.burgerContainer{
  display: inline-block;
}
.text{
  float: right;
  font-size: 30px;
  color: rgb(200, 200, 200);
}
.burger{
  height: 8px;
  width: 50px;
  background-color: rgba(0,125,255,0.5);
  margin: 6px 0;
  transition: 0.5s;


}
.change #burger1{
  -webkit-transform: rotate(-45deg) translate(-9px, 6px) ;
   transform: rotate(-45deg) translate(-9px, 6px) ;
   }

.change #burger2{
  opacity: 0;
}

.change #burger3{
      -webkit-transform: rotate(45deg) translate(-12px, -12px) ;
      transform: rotate(45deg) translate(-12px, -12px) ;
    }

.focus{
  border-radius: 50%;
  position: absolute;
  transition: opacity 0.5s;
  opacity: 1;

}
.focusFade{
opacity: 0;
}

.title{
  margin-top: 40px;
  color: rgb(255, 219, 77);
  align-self: center;
  transition: opacity 2s;
  transition: color 2s;
  position: relative;
  z-index: 1;
  font-family: 'Bungee Shade', cursive;
}

.fName{
  padding-left: 50px;
  font-size: 80px;
  margin-bottom: -15px;
  transition: opacity 2s;
  font-size: 100px;

}
.lName{
  font-size: 55px;
  margin-top: -110px;
  opacity: 0;
  transition: opacity 2s;
  }
#letterJ{
opacity: 0;
transition: opacity 2s;
margin-right: -20px;
}
#letterI{
opacity: 0;
transition: opacity 2s;
margin-right: -20px;

}
#letterM{
transition: opacity 2s;
opacity: 0;
margin-right: -20px;

}
#letterMm{
transition: opacity 2s;
opacity: 0;
margin-right: -20px;

}
#letterY{
transition: opacity 2s;
opacity: 0;
}

.webDev{
  font-family: 'Heebo', sans-serif;
  opacity: 0;
  transition: opacity 2s;
  font-size: 35px;
  padding-left: 80px;
}

.containerForm{
  margin-top: 150px;
  display: flex;
  flex-direction: row;
  height: 20vh;
  width: 40vw;
  justify-content: center;
  justify-content: space-between;
}
.leftForm{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
#inputName{
  height: 5vh;
  width: 18vw;
  border-radius: 10px;
  font-size: 15px;
  -webkit-box-shadow: 10px 12px 5px -6px rgba(0,0,0,0.42);
  -moz-box-shadow: 10px 12px 5px -6px rgba(0,0,0,0.42);
  box-shadow: 10px 12px 5px -6px rgba(0,0,0,0.42);
}
#inputEmail{
  font-size: 15px;
  height: 5vh;
  width: 18vw;
  border-radius: 10px;
  -webkit-box-shadow: 10px 12px 5px -6px rgba(0,0,0,0.42);
  -moz-box-shadow: 10px 12px 5px -6px rgba(0,0,0,0.42);
  box-shadow: 10px 12px 5px -6px rgba(0,0,0,0.42);
}
#inputSubject{
  height: 5vh;
  width: 18vw;
  border-radius: 10px;
  font-size: 15px;
  -webkit-box-shadow: 10px 12px 5px -6px rgba(0,0,0,0.42);
  -moz-box-shadow: 10px 12px 5px -6px rgba(0,0,0,0.42);
  box-shadow: 10px 12px 5px -6px rgba(0,0,0,0.42);
}
#inputMessage{
  height: 20vh;
  width: 20vw;
  border-radius: 10px;
  border: solid 2px rgb(200, 200, 200);
  font-size: 15px;
  -webkit-box-shadow: 10px 12px 5px -6px rgba(0,0,0,0.42);
  -moz-box-shadow: 10px 12px 5px -6px rgba(0,0,0,0.42);
  box-shadow: 10px 12px 5px -6px rgba(0,0,0,0.42);
}
#inputSubmit{
  margin-top: 20px;
  color: white;
  background: rgb(200,0,0);
  cursor: pointer;
  border: none;
  height: 5vh;
  width: 40vw;
  border-radius: 10px;
  font-size: 20px;
  -webkit-box-shadow: 10px 12px 5px -6px rgba(0,0,0,0.42);
  -moz-box-shadow: 10px 12px 5px -6px rgba(0,0,0,0.42);
  box-shadow: 10px 12px 5px -6px rgba(0,0,0,0.42);
}
#inputSubmit:hover{
  background-color: rgb(255,20,20);
}
.socialNet{
  margin-top: 150px;
  margin-left: 560px;
  height: 70px;
  width: 250px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  z-index: 4;
}
#github{
  margin-top: -5px;
  height: 60px;
  width: 60px;
  background-image: url("./public/githubLogo.png");
  background-size: cover;

}
#linkedin{
  height: 50px;
  width: 50px;
  background-image: url("./public/linkedinLogo.png");
  background-size: cover;
}
#instagram{
  height: 50px;
  width: 50px;
  background-image: url("./public/instagramLogo.png");
  background-size: cover;
}
