html{
background-color: rgb(30, 30, 30);
}

a{
  text-align: center;
  color: rgb(80, 80, 80);
  text-decoration: none;
  transition: 0.3s;
}
a:hover{
  color: rgb(255, 219, 77);
}
@keyframes largeMenu {
    0%   {width: 0vw;}
    25%  {width: 50vw;}
    50%  {width: 90vw;}
    75%  {width: 80vw;}
    100% {width: 98vw;}
}
.mainNav{
  height: 0vh;
  width: 0vw;
  background: rgba(0,0,0,0.4);
  transition: 0.3s;
  z-index: 0;
  display: flex;
  position: absolute;
  top: 50vh;
  left: 50vw;
  border-radius: 10px;
  justify-content: center;
  align-items: center;
}

.insideMenu{
  display: none;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

}

.projects{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 1150px;
  justify-content: space-between;
}
/* The side navigation menu */
.sidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 2; /* Stay on top */
    top: 0;
    left: 0;
    background-color: rgba(30,30,35, 0.7); /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: rgb(150, 150, 150);
    display: block;
    transition: 0.3s
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover, .offcanvas a:focus{
    color: rgb(187,82,16);
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  transition: margin-left .5s;
  padding: 20px;
  margin-left: 0;
  position: relative;
}
img{
  height: 150px;
  width: 250px;
}
/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}


.first{
  height: 98vh;
  width: 99vw;
  background-color: rgb(50, 50, 60);
  display: flex;
  justify-content: center;
}

.menuContainer{
  height: 50px;
  width: 150px;
  position: absolute;
  left: 20px;
  top: 10px;
  z-index: 4;
}
.burgerContainer{
  display: inline-block;
}
.text{
  float: right;
  font-size: 30px;
  color: rgb(200, 200, 200);
}
.burger{
  height: 8px;
  width: 50px;
  background-color: rgba(0,125,255,0.5);
  margin: 6px 0;
  transition: 0.5s;


}
.change #burger1{
  -webkit-transform: rotate(-45deg) translate(-9px, 6px) ;
   transform: rotate(-45deg) translate(-9px, 6px) ;
   }

.change #burger2{
  opacity: 0;
}

.change #burger3{
      -webkit-transform: rotate(45deg) translate(-12px, -12px) ;
      transform: rotate(45deg) translate(-12px, -12px) ;
    }

.focus{
  border-radius: 50%;
  position: absolute;
  transition: opacity 0.5s;
  opacity: 1;

}
.focusFade{
opacity: 0;
}
.title{
  color: rgb(255, 219, 77);
  align-self: center;
  transition: opacity 2s;
  transition: color 2s;
  position: relative;
  z-index: 1;
  font-family: 'Roboto', sans-serif;
  /*font-size: 40px;*/
}

.fName{
  padding-left: 50px;
  font-size: 80px;
  margin-bottom: -15px;
  transition: opacity 2s;
  font-size: 100px;

}
.lName{
  font-size: 55px;
  margin-top: -25px;
  opacity: 0;
  transition: opacity 2s;
  }
#letterJ{
opacity: 0;
transition: opacity 2s;
margin-right: -20px;
}
#letterI{
opacity: 0;
transition: opacity 2s;
margin-right: -20px;

}
#letterM{
transition: opacity 2s;
opacity: 0;
margin-right: -20px;

}
#letterMm{
transition: opacity 2s;
opacity: 0;
margin-right: -20px;

}
#letterY{
transition: opacity 2s;
opacity: 0;
}
